<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
    <script src="../assets/js/vue.js"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
<h1>v-on！</h1>
<hr>
<div id="app">
<p>{{a}}</p>
    <p>
        <button v-on:click="jia">+1</button>
        <button v-on:click="jian">-1</button>
        <input type="text" @keyup.enter="onEnter" v-model="b">
        <input type="text" @keyup.13="onEnter" v-model="b">
    </p>
</div>
<script>
    var aaa = new Vue({
        el:"#app",
        data:{
            a:10,
            b:''
        },
        methods:{
            jia:function(){
                this.a++;
            },
            jian:function(){
                if(this.a>=1){
                    this.a--;
                }
            },
            onEnter:function(){
                this.a = this.a+parseInt(this.b);
            }
        }
    });
</script>
</body>
</html>